# Dependencies
node_modules/
package-lock.json

# Environment
.env
!.env.example

# Build Outputs
dist/
build/
.cache/
target/
.pytest_cache/
__pycache__/
*.pyc

# OS and Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
